* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.page-title {
    margin-bottom: 60px;
}

.page-title h1 {
    margin-bottom: 15px;
}

.page-title p {
    width: 48%;
    margin: 0 auto;
    line-height: 2;
}

.facility {
    height: 300px;
    width: 300px;
    margin: 60px 0;
    padding: 250px 10px 0 25px;
}

.facility p {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

.spa {
    background: url('../images/spa.png') no-repeat;
}

.club {
    background: url('../images/club.png') no-repeat;
}

.events {
    padding: 210px 0 24px 25px;
    background: url('../images/events.png') no-repeat;
}

.beauty {
    background: url('../images/saloon.png') no-repeat;
}

.restaurant {
    background: url('../images/restaurant.png') no-repeat;
}

.gym {
    background: url('../images/gym.png') no-repeat;
}

@media screen and (max-width:700px) {

    .page-title p {
        width: 100%;
    }
    .facility { 
        margin-bottom: 10px;
    }
    .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

footer {
    background: url('../images/footer.svg');
    background-position: contain;
    
}