body{
    margin:0;
    padding:0;
}
.footer{
    width:100%;
    height:auto;
    bottom: 0;
    width: 100%;
    position:relative;
    display:block;
    margin-bottom:0px;

}
.foot-section1{
    width:100%;
    height:100px;
}
.foot-section2{
    position:relative;
    width:100%;
    height:auto;
    background-color:#333333;
    color:white;
    margin:0;
    margin-top:-30px;
    top:0px;
}
.foot-head{
    margin-top:0px;
    margin:auto;
    text-align: center;
}
.foot-head p{
    margin-top:30px;
    font-family: Salsa;
font-style: normal;
font-weight: normal;
font-size:calc(1.4rem + 2vh);
}
.foot-head h3{
    font-size:calc(0.3rem + 1vh);
    margin-top:-30px;
}
.foot-info{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    -webkit-box-pack: justify;
    justify-content: space-around;
}
#foot-btn{
    display: flex;
flex-direction: row;
padding: 10px 32px;
width: 154px;
height: 47px;
background: #C1A87D;
border-radius: 5px;
border:none;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
color:white;
margin-top:20px;
}
#foot-btn:hover{
    background: rgb(197, 149, 65); 
    font-size: 19px;
}
#foot-email{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
  }
  #foot-email:focus{
      border-bottom: 2.5px solid whitesmoke;
  }
  #foot-email:focus{
    width:220px;
  }
#foot-email{
    text-decoration: none;
    outline:none;
    background-color: transparent;
    width:200px;
    color:white;
    transition: 1s;
}
.foot-info-box{
    margin-top:20px;
}
.foot-list-head{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size:calc(1em + 1vh);
}
.foot-location, .foot-mail,.foot-contact{
    display:flex;
}
#footer-location ,#tele, #mail-box{
    display:inline-block;
    color:white !important;
    fill:white;
    width:40px;
    height:40px;
    margin-right: 30px;
}
.foot-location-info{
    display:inline-block;
}
.foot-social{
    width:200px;
    display:flex;
    justify-content: space-between;
}
#foot-fb , #foot-tw ,#foot-inst{
    width:30px;
    height:30px;
    background: white;
    border-radius: 50%;
    color:#333333;
}
#foot-fb:hover,#foot-tw:hover,#foot-inst:hover{
   transform:scale(1.2)
}
.foot-last{
    display:flex;
    justify-content: space-around;
}
#foot-num{
    margin-top:0px;
}
@media (max-width:500px){
    .foot-social{
        justify-content: space-around;
        margin-left:0px;
    }
    .foots-sub{
        font-size:16px !important;
    }
    .foot-list-head{
        text-transform:uppercase;
    }
    #footer-location ,#tele, #mail-box{
        margin-right:20px;
        width:30px;
        height:30px;
    }
    .footer{
        font-size: 13px;
    }
    .foot-list-head{
        font-size: 25px;
    }
    .foot-comp{
        display:none;
        visibility:hidden;
    }
    .foot-social{
        margin-top:20px;
    }
    .foot-last{
        flex-direction: column;
        justify-content: center !important;
        margin:auto !important;
        text-align: center;
        line-height: -0px;
        padding-top:20px;
    }
    .foot-service{
        display:none;
        visibility:hidden;
    }
    .foot-info-box{
        text-align: center;
    }
    #foot-btn{
        margin:auto;
        margin-top:20px;
        text-align: center;
        width:150px;
    }
    .input{
        text-align: center;
    }

}
@media (max-width:347px){
    
}
@media (max-width:745px){
    .footer{
        position:relative;
    }
}