* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 55vh;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 128px;
  }
  
  .services .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .services .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-bottom: 72px;
  }
  
  .services .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .services .services-items .services-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 250px;
    height: 250px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    color: #333333;
  }
  
  .services .services-items .services-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  
  .services .services-items .services-item-content .services-item-icon {
    position: absolute;
    top: 75px;
  }
  
  .services .services-items .services-item-content .services-item-text {
    position: relative;
    top: 149px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #333333;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .services .services-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .services .services-items .services-item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 220px;
      height: 220px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 20px;
      color: #333333;
    }
    .services .services-items .services-item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      padding-left: 48px;
      padding-right: 48px;
    }
    .services .services-items .services-item-content .services-item-icon {
      position: absolute;
      top: 75px;
    }
    .services .services-items .services-item-content .services-item-text {
      position: relative;
      top: 134px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      color: #333333;
    }
  }
  
  .room-suites {
    position: relative;
    height: 83vh;
    padding-left: 140px;
    padding-right: 140px;
  }
  
  .room-suites .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .room-suites .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-bottom: 72px;
  }
  
  .room-suites .room-suites-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px 250px;
    grid-template-rows: 250px 250px;
    grid-gap: 20px;
  }
  
  .room-suites .room-suites-images .room-suite-item-1 {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background: url("../assets/images/home/penthouse-suite.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .room-suites .room-suites-images .room-suite-item-1 .room-suite-text {
    position: absolute;
    left: 20px;
    bottom: 24px;
    top: 448px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  .room-suites .room-suites-images .room-suite-item-2 {
    position: relative;
    background: url("../assets/images/home/deluxe-room.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .room-suites .room-suites-images .room-suite-item-2 .room-suite-text {
    position: absolute;
    left: 20px;
    bottom: 24px;
    top: 180px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  .room-suites .room-suites-images .room-suite-item-3 {
    position: relative;
    background: url("../assets/images/home/executive-room.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .room-suites .room-suites-images .room-suite-item-3 .room-suite-text {
    position: absolute;
    left: 20px;
    bottom: 24px;
    top: 180px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  @media screen and (min-width: 992px) {
    .room-suites .header .header-text {
      padding-top: 180px;
    }
  }
  
  .upcoming-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 65vh;
    padding-left: 140px;
    padding-right: 140px;
  }
  
  .upcoming-event .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .upcoming-event .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-top: 140px;
    padding-bottom: 72px;
  }
  
  .upcoming-event .upcoming-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .upcoming-event .upcoming-events .upcoming-event-content-1 {
    background: url("../assets/images/home/upcoming-event1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  
  .upcoming-event
    .upcoming-events
    .upcoming-event-content-1
    .upcoming-event-text {
    position: absolute;
    width: 270px;
    height: 70px;
    left: 24px;
    top: 240px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  .upcoming-event .upcoming-events .upcoming-event-content-2 {
    background: url("../assets/images/home/upcoming-event2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  
  .upcoming-event
    .upcoming-events
    .upcoming-event-content-2
    .upcoming-event-text {
    position: absolute;
    width: 281px;
    height: 70px;
    left: 430px;
    top: 240px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  .upcoming-event .upcoming-events .upcoming-event-content-3 {
    background: url("../assets/images/home/upcoming-event3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  
  .upcoming-event
    .upcoming-events
    .upcoming-event-content-3
    .upcoming-event-text {
    position: absolute;
    width: 270px;
    height: 70px;
    left: 820px;
    top: 240px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #ffffff;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .upcoming-event .header .header-text {
      padding-top: 350px;
    }
    .upcoming-event .upcoming-events .upcoming-event-content-1 {
      height: 300px;
      width: 300px;
    }
    .upcoming-event
      .upcoming-events
      .upcoming-event-content-1
      .upcoming-event-text {
      width: 270px;
      height: 70px;
      left: 24px;
      top: 180px;
    }
    .upcoming-event .upcoming-events .upcoming-event-content-2 {
      height: 300px;
      width: 300px;
    }
    .upcoming-event
      .upcoming-events
      .upcoming-event-content-2
      .upcoming-event-text {
      width: 281px;
      height: 70px;
      left: 360px;
      top: 180px;
    }
    .upcoming-event .upcoming-events .upcoming-event-content-3 {
      height: 300px;
      width: 300px;
    }
    .upcoming-event
      .upcoming-events
      .upcoming-event-content-3
      .upcoming-event-text {
      width: 270px;
      height: 70px;
      left: 700px;
      top: 180px;
    }
  }
  
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 90vh;
    padding-left: 140px;
    padding-right: 140px;
  }
  
  .testimonials .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .testimonials .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-top: 150px;
    padding-bottom: 72px;
  }
  
  .testimonials .testimonials-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 432.98px 706px;
    grid-template-columns: 432.98px 706px;
    height: 588px;
  }
  
  .testimonials .testimonials-container .testimonial {
    position: relative;
    height: 588px;
    background: url("../assets/images/home/testimonial-bg.png");
    background-repeat: no-repeat;
    width: 432.98px;
    height: 400px;
    left: 0px;
    top: 91px;
  }
  
  .testimonials .testimonials-container .testimonial .testimonial-avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 266px;
    top: -23px;
    background: url("../assets/images/home/testimonial-avatar.png");
  }
  
  .testimonials .testimonials-container .testimonial .testimonial-text {
    position: absolute;
    width: 349px;
    height: 145px;
    left: 36px;
    top: 97px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
  }
  
  .testimonials .testimonials-container .testimonial .testimonial-name {
    position: absolute;
    width: 144.25px;
    height: 27px;
    left: 166px;
    top: 256px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  
  .testimonials .testimonial-map {
    position: relative;
    background: url("../assets/images/home/testimonial-map.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 706px;
    height: 588px;
    left: 594px;
    top: 244px;
  }
  
  .testimonials .testimonial-map .map-avatar1 {
    background: url("../assets/images/home/map-avatar1.png");
    position: absolute;
    width: 50px;
    height: 50px;
    left: 152px;
    top: 159px;
  }
  
  .testimonials .testimonial-map .map-avatar2 {
    background: url("../assets/images/home/map-avatar2.png");
    position: absolute;
    width: 60px;
    height: 60px;
    left: 350px;
    top: 225px;
  }
  
  .testimonials .testimonial-map .map-avatar3 {
    background: url("../assets/images/home/map-avatar3.png");
    position: absolute;
    width: 55px;
    height: 55px;
    left: 580px;
    top: 159px;
  }
  
  .testimonials .testimonial-map .map-avatar4 {
    background: url("../assets/images/home/map-avatar4.png");
    position: absolute;
    width: 50px;
    height: 50px;
    left: 218px;
    top: 376px;
  }
  
  .testimonials .testimonial-map .map-avatar5 {
    background: url("../assets/images/home/map-avatar5.png");
    position: absolute;
    width: 55px;
    height: 55px;
    left: 571px;
    top: 356px;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .testimonials .header .header-text {
      padding-top: 400px;
    }
    .testimonials .testimonials-container {
      -ms-grid-columns: 35% 75%;
      grid-template-columns: 35% 75%;
      height: 488px;
    }
    .testimonials .testimonials-container .testimonial {
      position: relative;
      height: 488px;
      background: url("../assets/images/home/testimonial-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 332.98px;
      height: 308px;
      left: 0px;
      top: 91px;
    }
    .testimonials .testimonials-container .testimonial .testimonial-avatar {
      position: absolute;
      width: 80px;
      height: 80px;
      left: 197px;
      top: -34px;
      background: url("../assets/images/home/testimonial-avatar.png");
    }
    .testimonials .testimonials-container .testimonial .testimonial-text {
      position: absolute;
      width: 256px;
      height: 145px;
      left: 38px;
      top: 57px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 29px;
      text-align: center;
      color: #ffffff;
    }
    .testimonials .testimonials-container .testimonial .testimonial-name {
      position: absolute;
      width: 144.25px;
      height: 27px;
      left: 111px;
      top: 218px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
    }
    .testimonials .testimonial-map {
      position: relative;
      background: url("../assets/images/home/testimonial-map.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 630px;
      height: 588px;
      left: 450px;
      top: 400px;
    }
    .testimonials .testimonial-map .map-avatar1 {
      background: url("../assets/images/home/map-avatar1.png");
      position: absolute;
      width: 50px;
      height: 50px;
      left: 152px;
      top: 159px;
    }
    .testimonials .testimonial-map .map-avatar2 {
      background: url("../assets/images/home/map-avatar2.png");
      position: absolute;
      width: 60px;
      height: 60px;
      left: 350px;
      top: 225px;
    }
    .testimonials .testimonial-map .map-avatar3 {
      background: url("../assets/images/home/map-avatar3.png");
      position: absolute;
      width: 55px;
      height: 55px;
      left: 580px;
      top: 159px;
    }
    .testimonials .testimonial-map .map-avatar4 {
      background: url("../assets/images/home/map-avatar4.png");
      position: absolute;
      width: 50px;
      height: 50px;
      left: 218px;
      top: 376px;
    }
    .testimonials .testimonial-map .map-avatar5 {
      background: url("../assets/images/home/map-avatar5.png");
      position: absolute;
      width: 55px;
      height: 55px;
      left: 571px;
      top: 356px;
    }
  }
  
  .enjoy-best-deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 45vh;
    padding-left: 324px;
    padding-right: 324px;
  }
  
  .enjoy-best-deals .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .enjoy-best-deals .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-top: 100px;
    padding-bottom: 32px;
  }
  
  .enjoy-best-deals .enjoy-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-text {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 42px;
    color: #333333;
    text-align: center;
    color: #333333;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-form .email {
    width: 224px;
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #999999;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-form .email::after {
    content: "";
    display: block;
    padding-top: 16px;
    border-bottom: 1px solid #c4c4c4;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-form .submit-btn {
    display: block;
    position: relative;
    width: 155px;
    height: 47px;
    background: #c1a87d;
    border-radius: 5px;
  }
  
  .enjoy-best-deals .enjoy-content .enjoy-form .submit-btn .btn-text {
    position: absolute;
    bottom: 10px;
    left: 38px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .enjoy-best-deals .header .header-text {
      padding-top: 350px;
      padding-bottom: 72px;
    }
  }
  
  .partners {
    position: relative;
    height: 100vh;
    padding-left: 143px;
    padding-right: 143px;
  }
  
  .partners .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .partners .header .header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #333333;
    padding-bottom: 60px;
    padding-left: 324px;
    padding-top: 130px;
    padding-right: 324px;
  }
  
  .partners .partners-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .partners .partners-show .partner1 {
    background: url("../assets/images/home/trivago.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 213.25px;
    height: 63.83px;
    margin-right: 48px;
  }
  
  .partners .partners-show .partner2 {
    background: url("../assets/images/home/airbnb.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 214.1px;
    height: 62.8px;
    margin-right: 48px;
  }
  
  .partners .partners-show .partner3 {
    background: url("../assets/images/home/tripadvisor.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 327.55px;
    height: 56.23px;
    margin-right: 48px;
  }
  
  .partners .partners-show .partner4 {
    background: url("../assets/images/home/bookingdotcom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 269.9px;
    height: 58.26px;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1439px) {
    .partners .header .header-text {
      padding-top: 450px;
      padding-bottom: 60px;
    }
    .partners .partners-show .partner1 {
      width: 150px;
      height: 42.83px;
      margin-right: 48px;
    }
    .partners .partners-show .partner2 {
      width: 150px;
      height: 42.8px;
      margin-right: 48px;
    }
    .partners .partners-show .partner3 {
      width: 242px;
      height: 42.23px;
      margin-right: 48px;
    }
    .partners .partners-show .partner4 {
      width: 186px;
      height: 42.26px;
    }
  }
  