
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
  }
.container {
  width: auto;
  margin: 0 auto;
}

.services,
.enjoy-deal,
.upcoming-event,
.room-suites {
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 10px 0 40px 0;
}
.service-head,
.event-head,
.room-suites-head {
width: 100%;
text-align: center;
padding: 20px 0;
margin-bottom: 20px;
font-size: 1.3rem;
}
.event-wrapper,
.room-suites-wrapper {
width: 80%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
cursor: pointer;
}
.service-wrapper {
width: 80%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.service-wrapper > div {
  /* width: 20%; */
  /* cursor: pointer; */
}

.box {
  height: 200px;
  width: 200px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  padding-top: 52px;
  color: #333;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.box-image {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  cursor: pointer;
}

.box p {
  text-align: center;
}

.box:hover {
  color: #C1A87D;
  box-shadow: 2px 2px 10px #C1A87D;
}


/* .box:hover .box p {
} */

/* .airport-pickup,
.comp-breakfast,
.cocktail,
.city-tour {
  border-radius: 5px;
} */

/* .airport-pickup > div,
.comp-breakfast > div,
.cocktail > div,
.city-tour > div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 60%;
  text-align: center;
} */

.room-suites-wrapper > div {
width: 47%;
height: 450px;
}
.event-wrapper > div {
        width: 30%;
        height: 300px;
        border-radius: 15px;
        border: 1px solid #d6d2d2;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        cursor: pointer;
}
.event:hover{
  box-shadow: 2px 2px 10px #C1A87D;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.suites {
border: 1px solid #d6d2d2;
border-radius: 15px;
-webkit-filter: grayscale(100%);
        filter: grayscale(100%);
transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
}

.scale-room-suite:hover{
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  box-shadow: 2px 2px 10px #C1A87D;
  /* transform: scale(1.03); */
}
.room > div{
width: 100%;
height: 214px;
margin-bottom: 20px;
border: 1px solid #d6d2d2;
border-radius: 15px;
box-sizing: border-box;
-webkit-filter: grayscale(100%);
        filter: grayscale(100%);
transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;

}
.deal-wrapper {
width: 50%;
}
.golf-tour {
background: url('../assets/images/home/golf-court-img.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.party-event {
background: url('../assets/images/home/cocktail-image.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.event-conf {
background: url('../assets/images/home/conf-meeting.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.golf-tour, .party-event, .event-conf,
.suites, .room-1, .room-2 {
display: flex;
justify-content: flex-start;
align-items: flex-end;
}
.golf-tour p, .party-event p, .event-conf p,
.suites p, .room-1 p, .room-2 p {
  font-size: 18px;
  color: white;
  padding: 20px 10px;
}
.suites {
background: url('../assets/images/home/hotel-suites.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.room-1 {
background: url('../assets/images/home/hotel-room1.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.room-2 {
background: url('../assets/images/home/hotel-room2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.deal-wrapper > div {
padding: 10px 0;
}

.deal-text > p {
line-height: 2;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: auto;
}
.subscribe-form > div {
display: flex;
width: 60%;
}
.subscribe-form input {
padding: 5px 10px;
border: 0;
border-bottom: 1px solid #c9c9c9;
margin-right: 10px;
width: 100%;
font-size: 20px;
}
.subscribe-form input::-moz-placeholder {
color: gray;
opacity: 0.4;
}
.subscribe-form input:-ms-input-placeholder {
color: gray;
opacity: 0.4;
}
.subscribe-form input::-ms-input-placeholder {
color: gray;
opacity: 0.4;
}
.subscribe-form input::placeholder {
color: gray;
opacity: 0.4;
}
.subscribe-form button {
width: 120px;
padding: 7px 15px;
font-size: 20px;
border: 0;
color: white;
background: rgb(197, 149, 65);
border-radius: 5px;
cursor: pointer;
}
.subscribe-form button:hover {
background: rgb(180, 136, 60);
}

.partners-head h2,
.deal-head h2 {
text-align: center;
margin-top: 40px;
font-size: 2rem;
}
.our-partners {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 50px 30px;
}
.Testimonials-h2{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
color: #333333;
text-align: center;
}
.test{
display:flex;
justify-content: space-around;
flex-wrap: wrap;
}
.test-map{
width: 700px;
height: 400px;
background: url("../assets/images/home/testimonial-map.png");
background-size: cover;
background-repeat: no-repeat;
padding-left:12.5%;
}
.map-img5{
display: inline-block;
margin-left: 4.2%;
margin-top:30%;

}
.map-img2{
margin-left:50%;
display: inline-block;
}
.map-img6{
display: block;
margin-top:10px;
margin-left:38.57%;
}
.map-img3{
display: inline-block;
margin-left:16.42%;
}
.map-img4{
display: inline-block;
margin-left: 42.28%;
}

.test-word{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
margin:50px;
margin-top:10px;

}
.test-img1{
width:9vh;
display: block;
margin-left: 200px;
}
.test-text{
width:300px;
text-align: center;
height:300px;
background: url('../assets/images/home/testimonial-bg.png');
background-size: contain;
background-repeat: no-repeat;
margin-top: 200px;
}
@media(max-width:1000px){
   .test{
     margin-top:-140px;
   }
   .test-map{

    padding-top:0px !important;
    margin-bottom:70px !important;

  }
}
@media(min-width:800px){
  .map-img5{
    margin-top:33%;
  }

  .map-img3{
    margin-left:10.42%;
  }
  .map-img4{
    display: inline-block;
    margin-left: 50.28%;
  }
}
@media (max-width:448px){
  .test-text{
    justify-self: center;

  }
  .map-img5{
    margin-top:28%;
    width:9vh;
  }
}
@media (max-width:800px){
  .map-img{
    width:9vh;
  }
  .test-map{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 870px) {
  /* .airport-pickup > div,
  .comp-breakfast > div,
  .cocktail > div,
  .city-tour > div {
    width: 90%;
  }
  .airport-pickup,
  .comp-breakfast,
  .cocktail,
  .city-tour {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    width: 100%;
  } */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
  }
  .services, .room-suites {
    padding: 20px 0;
  }
  .room-suites-wrapper > div,
  .event-wrapper > div{
    height: 214px;
    width: 90%;
    margin-bottom: 25px;
  }
  .service-wrapper {
    justify-content: space-evenly;
    width: 100%;
  }
  .upcoming-event {
    padding-top: 214px;
  }
  .box {
    height: 150px;
    width: 150px;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .our-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0;
    margin: 0 44px;
  }
  .enjoy-deal {
    padding-bottom: 20px;
  }
  .deal-wrapper > div {
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0 50px;
  }
  .deal-wrapper .deal-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 46px;
  }
  .deal-wrapper,
  .subscribe-form  div {
    width: 90%;
  }
  .deal-head h2 {
    font-size: 1.3rem;
    margin-top: 0;
  }
  .subscribe-form div {
    margin-top: 20px;
  }
  .subscribe-form input {
    padding-top: 20px;
    width: 81%;
    font-size: 8px;
  }
  .subscribe-form button {
    padding: 5px 10px;
    width: auto;
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .our-partners > div {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    width: 74%;
    margin: 0;
  }
}
