main{
    position: relative;
    top: 3rem;
    font-family: Poppins, sans-serif;
}

.form-container{
  max-width: 90%;
  margin: 0 auto;
}

.filter-form{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input, select{
  height: 2rem;
}

.search {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.search,
.room-check-in,
.room-check-out,
.guest,
.room-number {
    width: 15%;
    /* background: blue */
}

#check-in,
#check-out,
#room-number,
#guests {
    padding: 5px 10px;
    border: 1px solid rgba(128, 95, 3, 0.404);
    border-radius: 5px;
    width: 250px;
}

.search input {
    border-bottom: 1px solid #E5E5E5;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}


.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:stretch;
  margin: 0 10%;
}

.room{
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: .0.2rem 0.1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.room img {
  max-width: 95%;
  border-radius: 20px;
  padding-top: 0.2rem;
}

/* ############ RROMS STYLES FOR MOBILE STARTS HERE  ################################## */
.room-default h5 {
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
    padding-top: 10px;
    font-size: 14px;
    color: #333333;
    width: 100px;
    padding-bottom: 5px
}

.room__price{
font-style: normal;
font-weight: 500;
font-size: 29px;
color: #333;
padding: .5rem 0;
}

.room__price small{
  color: #999999;
  font-style: normal;
font-weight: normal;
font-size: 18px;
}

.pagination-container{
  margin-bottom: 20rem;
}

.pagination{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
}

.pagination-link{
  height: 40px;
  width: 40px;
  padding: .5rem;
  display: inline-block;
  text-align: center;
  background-color: #EEE;
  color: #333;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .3s linear;
}

.pagination-link:hover{
  color: #FFF !important;
  background-color: #C1A87D;
}

.pglink-active{
  color: #FFF;
  background-color: #C1A87D;
}

.room h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
    color: #333333;
    padding-bottom: 20px;
}

footer{
  margin-top: 10rem;
}

.pagination-icon {
    height: 30px;
    vertical-align: -webkit-baseline-middle;
    padding-bottom: 10px;
    padding-left: 10px;
}

.pg-active {
    background: #C1A87D !important;
    color: white;
}

@media screen and (min-width: 480px){
  main{
    position: relative;
    top: 12rem;
    font-family: Poppins, sans-serif;
  }
}

@media screen and (min-width:500px ){
  .room{
    flex-basis: 45%;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 750px) {
    .pagination-wrapper a {
        padding: 5px;
    }

    .item {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .search {
      justify-content: start;
    }
    .pg-active {
        padding: 10px !important;
        height: 30px !important;
        width: 30px !important;
        display: inherit;
    }

    .pagination-wrapper a {
        height: 25px;
        width: 25px;
        display: inherit;
    }
    .room-check-in, #check-in,
    .room-check-out, #check-out,
    .room-number, #room-number,
    .guest, #guests {
        width: 70%;
    }
.room-filter {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}
    .search,
    .room-check-in,
    .room-check-out,
    .guest,
    .room-number {
        width: 90%;
        /* background: blue */
    }
}

@media screen and (min-width: 750px) {
    .pagination-wrapper a {
        height: 50px;
        width: 50px;
        display: inherit;
    }
}

/* PAGINATION STARTS HERE */

.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
}

.pagination-link {
    height: 40px;
    width: 40px;
    padding: .5rem;
    display: inline-block;
    text-align: center;
    background-color: #EEE;
    color: #333;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s linear;
}

.pagination-link:hover {
    color: #FFF !important;
    background-color: #C1A87D;
}

.pglink-active {
    color: #FFF;
    background-color: #C1A87D;
}

.control {
    color: #333;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGINATION ENDS HERE */
/* ############ ROOMS STYLES FOR MOBILE ENDS HERE  ################################## */
/* ############ ALL STYLES FOR DESKTOP AND TABLETS STARTS HERE  ################################## */
@media screen and (min-width:576px) {
    .room-container {
        margin: 150px auto 0 auto;
    }

    .sub-cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .room-dir-control {
        max-width: 500px;
        margin: 0 auto;
    }

    .room-filter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .room-default select {
        width: 150px;
        border: 1px solid blue;
    }

    .search input {
        padding-top: 30px;
        width: 150px;
    }

    #check-in,
    #check-out,
    #room-number,
    #guests {
        width: 150px;
    }

    p.slogan {
        font-family: Segoe UI;
        margin-top: 10px;
    }
}

@media screen and (min-width:769px ){
  .gallery{
    margin: 0 3%;
  }
  .room{
    flex-basis: 30%;
  }
}